/OOP_PNK/nbproject/private/
/OOP_PNK/build/
/Caculator/nbproject/private/
/Caculator/build/
/.metadata/
/testNetbean/nbproject/private/
/QuanLyTrungTamNgonNgu/nbproject/private/
/QuanLyTrungTamNgonNgu/build/
/QuanLyTrungTamNgonNgu/dist/
